
@model IEnumerable<Smart_E.Models.ApplicationUser>

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_Layout";
}

<body>

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h3 class="page-title">ADMIN DASHBOARD</h3>
            <div class="d-flex align-items-center">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-3">
        <div class="card bg-outline-primary" style="max-width: 18rem;">
        <div class="card-header">Head of Department</div>
            <div class="card-body">  
            <h5 class="card-title">Swith to Head of Department</h5>
            <a class="card-text" asp-controller="Home" asp-action="Index">
                <i class="fa fa-user-circle fa-7x" aria-hidden="true"></i>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-outline-secondary" style="max-width: 18rem;">
        <div class="card-header">Teacher</div>
            <div class="card-body">
            <h5 class="card-title">Switch to Teacher</h5>
            <a class="card-text" asp-controller="Admin" asp-action="GetTeachers">
                <i class="fa fa-user-circle fa-7x" aria-hidden="true"></i>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-outline-success" style="max-width: 18rem;">
        <div class="card-header">Student</div>
            <div class="card-body">
            <h5 class="card-title">Switch to Student</h5>
            <a class="card-text" asp-controller="Home" asp-action="Index">
                <i class="fa fa-user-circle fa-7x" aria-hidden="true"></i>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-outline-warning" style="max-width: 18rem;">
        <div class="card-header">Parent</div>
            <div class="card-body">
            <h5 class="card-title">Switch to Parent</h5>
            <a class="card-text" asp-controller="Home" asp-action="Index"> 
                <i class="fa fa-user-circle fa-7x" font- aria-hidden="true"></i>
            </a>
            </div>
        </div>
    </div>
</div>


        @using (Html.BeginForm("Export", "Admin"))
        {
            <input type="submit" value="Export" class="btn btn-success float-lg-right"/>
        }

    <div id="view-all">
        @await Html.PartialAsync("_ViewAllUsers", Model)
    </div>
</div>
</body>


