@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options


@inject IOptions<RequestLocalizationOptions> LocOptions
@inject UserManager<ApplicationUser> _userManager

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var isAdmin = await _userManager.GetUserAsync(User);

}

@*This is a test
*@

@inject IViewLocalizer _localizer

<li class="sidebar-item">
    <a asp-controller="Home" asp-action="Index" class="sidebar-link">
        <i class="icon-Home-2"></i>
        <span class="hide-menu">@_localizer["Home"]</span>
    </a>
</li>

<li class="nav-small-cap">
    <i class="mdi mdi-dots-horizontal"></i>
    <span class="hide-menu">My Space</span>
</li>

<li class="sidebar-item">
    <a asp-controller="Calendar" asp-action="Calendar" class="sidebar-link">
        <i class="fa fa-calendar"></i>
        <span class="hide-menu">Calendar</span>
    </a>
</li>

@if (User.IsInRole("Parent")){
    <li class="sidebar-item">
        <a asp-controller="Teachers" asp-action="Teachers" class="sidebar-link" >
            <i class="fa fa-users"></i>
            <span class="hide-menu">Teachers</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a asp-controller="MyChild" asp-action="MyChild" class="sidebar-link">
            <i class="fa fa-certificate"></i>
            <span class="hide-menu">My Child's Progress</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a asp-controller="ChatHub" asp-action="ChatHub" class="sidebar-link">
            <i class="fa fa-envelope-open" aria-hidden="true"></i>
            <span class="hide-menu">Chat Hub</span>
        </a>
    </li>
  }
@if (User.IsInRole("Student"))
{

    <li class="sidebar-item">
        <a asp-controller="Grades" asp-action="Grades" class="sidebar-link">
            <i class="fa fa-certificate"></i>
            <span class="hide-menu">My Grades</span>
        </a>
    </li>
    
}
@if (User.IsInRole("Admin"))
{
    <li class="nav-small-cap">
        <i class="mdi mdi-dots-horizontal"></i>
        <span class="hide-menu">Manage Users</span>
    </li>


    <li class="sidebar-item">
        <a asp-controller="Users" asp-action="Users" class="sidebar-link">
            <i class="fa fa-users"></i>
            <span class="hide-menu">All Users</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a asp-controller="Reports" asp-action="Reports" class="sidebar-link">
            <i class="fa fa-file"></i>
            <span class="hide-menu">Reports</span>
        </a>
    </li>
}
@if (User.IsInRole("HOD"))
{
    <li class="sidebar-item" >
        <a asp-controller="Reports" asp-action="Reports" class="sidebar-link">
            <i class="fa fa-file"></i>
            <span class="hide-menu">Reports</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a asp-controller="Teachers" asp-action="Teachers" class="sidebar-link" >
            <i class="fa fa-users"></i>
            <span class="hide-menu">Teachers</span>
        </a>
    </li>
}

















