<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configurationString>
        <add name="DefaultLocalConnection" connectionString="Server=sict-sql.mandela.ac.za;Database=GRP13-DB-SMARTE;Trusted_Connection=False;user id=GRP13; Password=grp13-soit2022;" providerName="System.Data.SqlClient"/>
	</configurationString>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Web.Routing, Version=4.0.0, Culture=neautral, PublicKeyToken=31BF38564D364E35"/>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5"/>
		<customErrors mode="Off"/>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>