@{
    ViewData["Title"] = "Home Page";
}
<style>
    .margin{
        margin: 300px;

    }
</style>
<div class="text-center">
    
    

    <h1 class="display-4 pt-5">Welcome</h1>
    
    <p style="text-align: center;">With the rise of the COVID 19 pandemic incident there was a sudden halt of our normal day-to-day living
        and amongst the greatest factors affected by this was our classroom learning. The incident also afforded us the chance to venture 
        more into distance learning(e-learning), where our nation's youth have made drastic adjustments and achieved great academic 
        strides.</p>
    <p style="text-align: center;">Our current mission&nbsp; as League of Programmers is to help bridge the gap of learning for 
        learner's in high school with our e-tutoring app, which we created and developed for Smart-E. It will provide 
        learner's with the necessary tools to help them learn their subjects at the comfort of their own homes. It will provide 
        learning materials, communication between teachers and learners, activities to test and measure learner's progress and many
        more. We as League of Programmers are proud to present our solution.</p>

</div>

