@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@inject IViewLocalizer _localizer
@inject UserManager<ApplicationUser> _userManager
<head>
    <title>Student Dashboard</title>
    <link href="~/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/libs/footable/css/footable.core.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <link href="~/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="container-fluid" style="background:skyblue" >
         <div class="main" style="margin-bottom: 5px;">
            <div class="main-top">
                    <div class="col-5 align-self-center">
                        <h1 class="page-title" style="color:#008080">@_localizer["OFFERD SUBJECTS"]</h1>
                        <div class="d-flex align-items-center">
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card bg-outline-primary" style="max-width: 22rem; text-align:center; background-color: #008080;padding:10px; display:flex; shape-outside: margin-box; border-radius: 10px; margin: 10px; box-shadow: 0 20px 34px 0, 0 6px 20px 0">
                         <i class="fas fa-square-root-alt" aria-hidden="true" style="color:white; font-size:36px"></i>
                         <h3 style="color: white">MATHEMATICS</h3>
                         <P style="color: white">The abstract science of numbers</P>
                         <button style="background: grey; color: white; border-radius:10px; padding:8px;font: bold ;font-size:16px">Enroll</button>
                    </div>
                </div>
                <div class="col-md-3">
                     <div class="card bg-outline-primary" style="max-width: 22rem; text-align:center; background-color: #008080;padding:10px; display:flex; shape-outside: margin-box; border-radius: 10px; margin: 10px; box-shadow: 0 20px 34px 0, 0 6px 20px 0">
                         <i class="fas fa-dna" aria-hidden="true" style="color:white; font-size:36px"></i>
                         <h3 style="color: white">LIFE SCIENCE</h3>
                         <P style="color: white">The sientific study of life</P>
                         <button style="background: grey; color: white; border-radius:10px; padding:8px;font: bold ;font-size:16px">Enroll</button>
                     </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-outline-primary" style="max-width: 22rem; text-align:center; background-color: #008080;padding:10px; display:flex; shape-outside: margin-box; border-radius: 10px; margin: 10px; box-shadow: 0 20px 34px 0, 0 6px 20px 0">
                        <i class="fas fa-flask" aria-hidden="true" style="color:white; font-size:36px"></i>
                        <h3 style="color: white">PHYSICAL SCIENCE</h3>
                        <P style="color: white">The study of inorganic world</P>
                        <button style="background: grey; color: white; border-radius:10px; padding:8px;font: bold ;font-size:16px">Enroll</button>
                    </div>
                </div>
                <div class="col-md-3">
                <div class="card bg-outline-primary" style="max-width: 22rem; text-align:center; background-color: #008080;padding:10px; display:flex; shape-outside: margin-box; border-radius: 10px; margin: 10px; box-shadow: 0 20px 34px 0, 0 6px 20px 0">
                     <i class="fas fa-coins" aria-hidden="true" style="color:white; font-size:36px"></i>
                     <h3 style="color: white">ACCOUNTING</h3>
                     <P style="color: white">
                         The proccess of keeping 
                         financial accounts
                     </P>
                     <button style="background: grey; color: white; border-radius:10px; padding:8px;font: bold ;font-size:16px">Enroll</button>
                </div>
          </div>
        
        
        <section class="my-subjects" style="margin-top: 20px; text-transform: capitalize;">
            <h1 style="color:#008080">My Subjects</h1>
           <div class="subject-box" style="width: 100%; padding: 10px; background: white; border-radius: 10px; box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1)">
               <ul style="list-style:none; display: flex;">
                 <li style="margin: 10px; color:grey; cursor: pointer; font-color=#000; border-bottom: 1px solid #000">In progress</li>
                <li style="margin: 10px; color:grey; cursor: pointer; ">Explore</li>
               </ul>
               <div class="subject" style="display: flex;">
                  <div class="box" style="max-width: 36rem; text-align:center; background-color: #008080;padding:10px; display:flex; shape-outside: margin-box; border-radius: 10px; margin: 10px; box-shadow: 0 20px 34px 0, 0 6px 20px 0">
                     <i class="fas fa-dna" aria-hidden="true" style="color:white; font-size:36px"></i>
                     <h3 style="color: white">LIFE SCIENCE</h3>
                     <buton button style="background: grey; color: white; border-radius:10px; padding:8px;font: bold ;font-size:16px; margin-top: 3rem; cursor: pointer">Continue</buton>    
          
                  </div>
               </div>
           </div>
        </section>
       </div>
     </div>
    </div>

</body>