@model Smart_E.Models.Qualification

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center" class="btn btn-primary text-white">Add New Record</h2>

<h4>Qualification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                        <label asp-for="QualificationType" class="control-label"></label>
                        <select class="select2 form-control" asp-for="QualificationType" style="width: 100%; height: 36px;">
                            <option value="">--Select Qualification--</option>
                            <option value="H. Cert">H. Cert</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Adv. Dip">Adv. Diploma</option>
                            <option value="Bachelors">Bachelors</option>
                            <option value="Post-GradDip">Post-Graduate Diploma</option>
                            <option value="Honours">Honours</option>
                            <option value="Masters">Masters</option>
                            <option value="PhD">PhD</option>
                            <option value="Post-Phd">Post-Phd</option>
                        </select>
                        <span asp-validation-for="QualificationType" class="text-danger"></span>
             </div>
            @*<div class="form-group">
                <label asp-for="QualificationType" class="control-label"></label>
                <input asp-for="QualificationType" class="form-control" />
                <span asp-validation-for="QualificationType" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolName" class="control-label"></label>
                <input asp-for="SchoolName" class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="YearAchieved" class="col-sm-3 text-right control-label col-form-label">Year Qualified</label>
                <div class="col-sm-9">
                    <select asp-for="YearAchieved" class="form-control" id="date-dropdown" placeholder="Year"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

<script>
      let dateDropdown = document.getElementById('date-dropdown'); 
      let currentYear = new Date().getFullYear();    
      let earliestYear = 1970;     
      while (currentYear >= earliestYear) {      
        let dateOption = document.createElement('option');          
        dateOption.text = currentYear;      
        dateOption.value = currentYear;        
        dateDropdown.add(dateOption);      
        currentYear -= 1;  
      }
</script>